<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		

		<title>Kaunisvilla</title>
		
		{% load staticfiles %}
		{% load bootstrap_calendar %}
		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

		<link rel="stylesheet" href="{% static 'css/homepages.css' %}">
	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Kaunisvilla</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href='/'>Front page</a></li>
						<li><a href='/booking'>Booking</a></li>
						<li><a href='/lodge'>Lodge</a></li>
						<li><a href='/activities'>Activities</a></li>
						<li><a href="/terms">Terms</a></li>
						<li><a href="/nature">Nature</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid">
				
		<div class="padded">


					{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
	{% endif %}

						{% block content %}
						{% endblock %}
		</div>
						
		</div>
			

		<div class="panel-footer">
			<center><h1>Kaunisvilla</h1></center>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
		{% bootstrap_calendar_js %}
		{% bootstrap_calendar_js language="lang-code" %}
		{% bootstrap_calendar_init language="lang-code" %}
	</body>
</html>