{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<center><img src="{% static "images/activity.jpg" %}" class="img-responsive"></center>

	<div class="page-header">

	<div class="kehys">

		<h1><center><u>Activities</u></center></h1>
		<br>
		<h2 class="text-left">Things to do</h2>

		<p class="text-muted" "text-justify">
			There really is so much to discover at the Kaunisvilla – that is is difficult to know where to begin. For the experienced – there are challenging downhill runs as well as huge number of cross country options. For the beginners – the nursery slopes and ski schools offer a fantastic way to learn new skills.
			<br>
			<br>

And it should be remembered that all of this is available within one of the last great wilderness areas that exists in Europe. It can be truly quiet. The ski runs are not crowded – as is usual with winter resorts.
			<br>
			<br>
Lapland gives you the space to enjoy pure unspoilt nature.
			<br>
			<br>
All that having been said – there is always time to make new friends and enjoy a good night out. With the resort of Saariselkä on your doorstep – with its bars, restaurants and clubs offer a wide range of options to suite your mood.
			<br>
			<br>
We present here a short list of links that will show you some of the activities and places that are available when you choose to stay at Kaunisvilla.
</p>
<br>
<br>
<a href="http://www.inarisaariselka.fi/">Saariselka Tourist info</a>
<br>
</div>
</div>
{% endblock %}