{% extends 'base.html' %}
<!--{% load staticfiles %}-->

{% block content %}

<center><img src="{% static "images/landing1.png" %}" alt="The cottage"/ style="width:100% height:100%"></center>

	<div class="page-header">
	<div class="kehys">
	

		<h1><center><u>WELCOME</u></center></h1>
		<br>
		<h2 class="text-left">Luxury in Lapland</h2>

 
<p class="text-muted" "text-justify">
Welcome to Lapland. This website offers a fantastic holiday destination in the far north of Finland. Built in 2006, to a bold architectural design – it is located next to one of the premier ski resorts inside the arctic circle.
The Villa can accommodate up to 8 + 2 people in absolute luxury. Within easy reach of the airport, and with the option of having all the hassle catering and cleaning taken care of – you can relax; enjoy the snow, and entertain in style. Whatever the reason the Kaunisvilla offers all you could ask from your stay in Lapland..
<br>
<br>
So..please feel welcome to look around – and if you like what you see, then get in touch – and book yourself a slice of Arctic heaven!
<br>
<br>
 

The Kaunisvilla (Kaunis=Pretty in Finnish) is owned in partnership by two Finnish Families. Like most Finns – they know how to enjoy winter sports, and frozen landscapes. It has been their ultimate dream to build this lodge. It has taken many years of careful planning, research to find the site, and significant financial outlay to realise their dream.
<br>
<br>
The owners always reserve a few weeks every year to spend at the lodge – and ensure that the accommodation meets their highest expectation.
<br>
<br>
When you book time at the Kaunisvilla – all your hosting requirements – from the collection at the airport – to the cuisine and friendly domestic service – will be handled by local Lapland guides.
<br>
<br>
But the booking – and contact through this site- is all handled by the owners, and you can be assured that you are dealing with committed, knowledgeable people, who place the highest value in making your stay – simply the best.
</p>
</div>
</div>
{% endblock %}