{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="page-header">
<div class="kehys">
	

		<h1><center><u>TERMS</u></center></h1>
		<br>
		<h2 class="text-left">Rental conditions</h2>
		<p class="text-muted" "text-justify">
		<br>
		<br>
		The lessor will be Kiinteistö Oy Kaunispään Tunturituuli (Later TunturituuliI), and the lessee, the person signing the rental confirmation.
<br>
<br>
</p>
<strong>Binding obligation:</strong><P class="text-muted" "text-justify"> These conditions will be binding for both parties from the moment the tenant pays the rent or the deposit.</P>
<br>
<strong>Reservations and payment:</strong><P class="text-muted" "text-justify"> Once the reservation has been made, the tenant will receive confirmation with directions as to how to reach the destination and where to collect the keys. The reservations will be confirmed and is binding from the time the tentant pays the doposit (30%  of the accommodation price) and has returned the rental confirmation to Tunturituuli, within the time period specified therein.</P>
<br>
<strong>Cancellations:</strong><P class="text-muted" "text-justify"> Cancellations must always be made in writing and addressed to Tunturituuli Oy. Cancellation will be considered effective from the moment Tunturituuli receives the cancellation notification. If the cancellation is made within a period exceeding 28 days from the begining of the rental period, the deposit and the remainder of amounts paid will be reimbursed, except for 50 euros which will be discounted for cancellation fees.
If the cancellation is notified within 28 days or less prioi to the beginning of the rental period, the amounts paid will not be reimbursed. If the cancellations is made due to illness of the tentant or of a family member of the tenant caused by accident in which any of then were involved or other similar motive, the tenant will be entitled to receive the amounts paid when the resevation was made, except for the 50 euros cancellation fees. Tunturituuli will be entitled to demand a medical certificate or other trusworthy report or document pertaining to the reasons for the cancellation.</P>
<br>
<br>
<strong>Tunturituuli’s right to cancel the reservation:</strong><P class="text-muted" "text-justify"> In cases of force majeure, Tunturituuli may cancel the reservation. In this case, the tenant will be reimbursed the entirety of the amounts paid towards the rent. If the rent is not paid within the established period, the reservation will be considered as cancelled with no prior notification.</P>
<strong>Handing over of the keys:</strong><P class="text-muted" "text-justify"> The keys will be handed over once the tenant has returned the rental confirmation and paid the rent in its entirety. If payment of the rent has been made so recently that it poes not appear in the leaser’s account statement, the tenant must provide the payment slip in order to collect the keys. If the tenant should lose the key, all expenses derived from said loss will bw met by the tenant (change of lock and key duplicates).</P>
<strong>Details of the stay at destination:</strong><P class="text-muted" "text-justify"> The apartment will be available to the client from 4.00 p.m. on the arrival date until 12.00 a.m. on the departure date. Tunturituuli will arrange the linens and the use of sheets and pillow-cases is compulsory. Tunturituuli will as well arrange the toilet and kitchen paper for the tenant’s stay. The tenant will be responsible for other daily necessities as well for daily cleaning during the stay. At the end of rental period Tunturituuli takes care of final cleaning for the next tenant. All extra cleaning operations will be invoiced separately. The cottage is privately owned and we except that tenants behave as being visiting their best friend’s home.</P>
<strong>Damages:</strong><P class="text-muted" "text-justify"> The tenant is under obligation to pay for any damages caused to the apartment or to the furnishings. If the damage is due to negligence towards the property, the matter wuill be considered as vandalism which in all cases will be reported to police and, in addition to the expences for repair, payment of compensation for damages will be demanded. If an agreement is not reached with the tenant on the compensation, the case will be decided by the Court of first instance of Inari-Utsjoki.</P>
<strong>Pets:</strong><P class="text-muted" "text-justify"> Pets are not allowed in the apartment.</P>
<strong>Smoking:</strong><P class="text-muted" "text-justify"> it is strictly forbidden to smoke inside the apartments. Violation of this condition will be dealt with the same manner as in the damage section.</P>
<strong>Number of persons:</strong><P class="text-muted" "text-justify"> It is not allowed for more people to stay in the apartment than it is agreed to when the service is hired, unless otherwise expressly agreed during the stay.</P>
<strong>Complaints:</strong><P class="text-muted" "text-justify"> All warnings and complaints regarding the equipment, furnishings and condition of apartment must be immediately notified to Tuntutituuli. If the complaints are not dealt with, a written complaint must be presented within 7 days of termination ot the rental. If an agreement is not reached on the complaint, the tenant may present the case to the Consumer Office.</P>
<strong>Right to modifications:</strong><P class="text-muted" "text-justify"> We reserve the right to update the prices.
</p>
</div>
</div>
{% endblock %}